@{
    Layout = "_ForConstruction";
}

<div class="d-flex flex-column align-items-center align-content-center " style="width:100%">
    
        <img src="~/img/construction.png" alt="Construction" style="width:40VW" />
        <h2>The Marketing Tab is under Construction</h2>
    

</div>