
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="Roles-Content" role="tabpanel" aria-labelledby="Roles-tab">
        @await Component.InvokeAsync("Roles")
    </div>
    <div class="tab-pane fade show" id="Purpose-Content" role="tabpanel" aria-labelledby="Purpose-tab">
        @await Component.InvokeAsync("Purpose")
    </div>
    <div class="tab-pane fade show" id="EngagementType-Content" role="tabpanel" aria-labelledby="EngagementType-tab">
        @await Component.InvokeAsync("EngagementType")
    </div>
    <div class="tab-pane fade show " id="Effectivity-Content" role="tabpanel" aria-labelledby="Effectivity-tab">
        @await Component.InvokeAsync("Effectivity")
    </div>
    <div class="tab-pane fade show " id="CommsMethod-Content" role="tabpanel" aria-labelledby="CommsMethod-tab">
        @await Component.InvokeAsync("CommsMethod")
    </div>
    <div class="tab-pane fade show " id="LeadsStatus-Content" role="tabpanel" aria-labelledby="LeadStatus-tab">
        @await Component.InvokeAsync("LeadStatus")
    </div>
    <div class="tab-pane fade show " id="LeadsSource-Content" role="tabpanel" aria-labelledby="LeadSource-tab">
        @await Component.InvokeAsync("LeadSource")
    </div>
</div>