@{
    ViewData["Title"] = "Customization";
    Layout = "z_CustomizationLayout";
}

@*<header>
    <div class="border-bottom">
        <h3>Customize Properties</h3>
        <p># of Records Found</p>
    </div>
    <br />
    <div class="tab-container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="Roles-tab" data-bs-toggle="tab" data-bs-target="#Roles-Content" type="button" role="tab" aria-controls="Roles-Content" aria-selected="true">Roles</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="Purpose-tab" data-bs-toggle="tab" data-bs-target="#Purpose-Content" type="button" role="tab" aria-controls="Purpose-Content" aria-selected="false">Purpose</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="CommsMethod-tab" data-bs-toggle="tab" data-bs-target="#CommsMethod-Content" type="button" role="tab" aria-controls="CommsMethod-Content" aria-selected="false">Communication Method</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="EngagementType-tab" data-bs-toggle="tab" data-bs-target="#EngagementType-Content" type="button" role="tab" aria-controls="EngagementType-Content" aria-selected="false">Engagement Types</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="Effectivity-tab" data-bs-toggle="tab" data-bs-target="#Effectivity-Content" type="button" role="tab" aria-controls="Effectivity-Content" aria-selected="false">Effectivity</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="LeadsStatus-tab" data-bs-toggle="tab" data-bs-target="#LeadsStatus-Content" type="button" role="tab" aria-controls="LeadsStatus-Content" aria-selected="false">Status</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="LeadsSource-tab" data-bs-toggle="tab" data-bs-target="#LeadsSource-Content" type="button" role="tab" aria-controls="LeadsSource-Content" aria-selected="false">Source</button>
            </li>
        </ul>
    </div>
</header>*@
@*<partial name="_Tab-Content" />*@


