@{
    Layout = "_Layout";
}

<div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a asp-controller="Role" asp-action="Index" class="nav-link active" >Roles</a>
        <a asp-controller="AppointmentPurposes" asp-action="Index" class="nav-link" >Purpose</a>
        <a asp-controller="CommunicationMethods" asp-action="Index" class="nav-link" >Communication Method</a>
        <a asp-controller="EngagementTypes" asp-action="Index" class="nav-link" >Engagement Types</a>
        <a asp-controller="Effectivities" asp-action="Index" class="nav-link" >Effectivity</a>
        <a asp-controller="LeadStatus" asp-action="Index" class="nav-link" >Lead Status</a>
        <a asp-controller="Sources" asp-action="Index" class="nav-link" >Lead Source</a>
        
    </div>
    <div class="container">
        <main role="main" class="pb-3 position-relative">
            <div class="border-bottom">
                <h3>Customize Properties</h3>
                <p># of Records Found</p>
            </div>
            @RenderBody()
        </main>
    </div>
</div>
@section Scripts{
    @await RenderSectionAsync("Scripts", required: false)
}