@model List<CommunicationMethod>
<br />
<a asp-controller="CommunicationMethods" asp-action="Create" class="w3-button w3-left w3-green">+ New Method</a>
<br />
<br />
<table class="table table-bordered table-overflow-auto-w100" style="overflow-x:auto">
    <thead class="header-bg-light text-uppercase">
        <tr>
            <th scope="col">Communication Methods</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var method in Model)
        {
            <tr>
                <td>@method.CommunicationMethodName</td>
                <td>
                    <a asp-controller="CommunicationMethods" asp-action="Edit" asp-route-id="@method.CommunicationMethod_Id" class="btn btn-sm btn-success">Edit</a>

                    <a asp-controller="CommunicationMethods" asp-action="Delete" asp-route-id=@method.CommunicationMethod_Id  class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
