@model Engagement

<div class="w3-container d-flex justify-content-center align-items-center">
    <div class="w3-container ">
        <form class="w3-container " asp-controller="Engagement" asp-action="DeleteConfirmed">
            <input type="hidden" asp-for="Engagement_Id" />
            <div class="w3-section w3-card " style="max-width:600px">
                <div class="w3-container  w3-padding-16 ">
                    <h3 class="w3-center">Are you sure you want to delete this engagement record?</h3>
                    
                    <button type="submit" value="DELETE" class="w3-button w3-right w3-green">DELETE</button>
                    <button onclick="history.go(-1)" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

