@model IEnumerable<IdentityRole<Guid>>

<br />
<br />
<table class="table table-bordered table-overflow-auto-w100" style="overflow-x:auto">
    <thead class="header-bg-light text-uppercase">
        <tr>
            <th scope="col">Purpose</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Name</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@role.Id" class="btn btn-sm btn-success">Edit</a>
                    <a href="@Url.Action("Delete", "Contacts", new { id = role.Id })" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>