<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="AllContacts" role="tabpanel" aria-labelledby="AllContacts-tab">
        Note: Sample Data Only. Coded in the HTML, not in DB. This is the AllEmployees View
        <br /><br />
        <table class="table table-bordered table-overflow-auto-w100">
            <thead class="header-bg-light text-uppercase">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Dell</td>
                    <td>Otto</td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>


    <div class="tab-pane fade" id="AssignedContacts" role="tabpanel" aria-labelledby="AssignedContacts-tab">
        Note: Sample Data Only. Coded in the HTML, not in DB. This is the WithAccess View
        <br /><br />
        <table class="table table-bordered table-overflow-auto-w100">
            <thead class="header-bg-light text-uppercase">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td></td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="UnassignedContacts" role="tabpanel" aria-labelledby="UnassignedContacts-tab">
        Note: Sample Data Only. Coded in the HTML, not in DB. This is the WithoutAccess View
        <br /><br />
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Dell</td>
                    <td>Otto</td>
                    <td></td>
                </tr>
                <tr>

            </tbody>
        </table>
    </div>
</div>