@model DetailsViewModel
<style>
    .tablink {
        background-color: #555;
        color: white;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 25%;
    }

        .tablink:hover {
            background-color: #777;
        }

    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
        color: white;
        display: none;
        padding: 100px 20px;
        height: 100%;
    }
</style>
<div class="container-fluid">
    
    <div>
        <h1>Details</h1>

        <div>
            <h4>CommunicationMethod</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Contacts.FullName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Contacts.FullName)
                </dd>
            </dl>
        </div>
            
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.Contacts.Contact_Id">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>

    </div>
    


    <div>
        <h3>Details</h3>
            <button class="tablink" onclick="openPage('Home', this, 'red')">Home</button>
            <button class="tablink" onclick="openPage('News', this, 'green')" id="defaultOpen">News</button>
            <button class="tablink" onclick="openPage('Contact', this, 'blue')">Contact</button>
            <button class="tablink" onclick="openPage('About', this, 'orange')">About</button>

            <div id="Home" class="tabcontent">
                <h3>Home</h3>
                <p>Home is where the heart is..</p>
            </div>

            <div id="News" class="tabcontent">
                <h3>News</h3>
                <p>Some news this fine day!</p>
            </div>

            <div id="Contact" class="tabcontent">
                <h3>Contact</h3>
                <p>Get in touch, or swing by for a cup of coffee.</p>
            </div>

            <div id="About" class="tabcontent">
                <h3>About</h3>
                <p>Who we are and what we do.</p>
            </div>
    </div>
    
</div>
