@model IndexViewModel
@{
    ViewData["Title"] = "Contacts";
}


<header>
    <div>
        <h3 class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-controls="dropdown-menu" aria-expanded="false" id="ContactsDD">Contacts</h3>
        <ul class="dropdown-menu" aria-labelledby="ContactsDD">
            <li><a class="dropdown-item" href="#" data-value="Contacts" aria-selected="true">Contacts</a></li>
            @*<li class="disabled "><a class="dropdown-item" href="#" data-value="Companies">Companies</a></li>*@
        </ul>
            
        <p id="record_count"># Records</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2 cebuana-bg-blue" type="button" data-toggle="modal" data-target="#createContactModal" onclick="document.getElementById('id01').style.display='block'">+ New Contact</button>
            <partial name="_CreateModal" />
        </div>
    </div>



    <br />
    <div class="tab-container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="AllContacts-tab" data-bs-toggle="tab" data-bs-target="#AllContacts" type="button" role="tab" aria-controls="AllContacts" aria-selected="true">All Contacts</button>
            </li>
            
            @if (User.IsInRole("Admin"))
            {
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="AssignedContacts-tab" data-bs-toggle="tab" data-bs-target="#AssignedContacts" type="button" role="tab" aria-controls="AssignedContacts" aria-selected="false">Assigned</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="UnassignedContacts-tab" data-bs-toggle="tab" data-bs-target="#UnassignedContacts" type="button" role="tab" aria-controls="UnassignedContacts" aria-selected="false">Unassigned</button>
                </li>
                
            }
            @if (!User.IsInRole("Admin"))
            {
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="AllMyContacts-tab" data-bs-toggle="tab" data-bs-target="#AllMyContacts" type="button" role="tab" aria-controls="AllMyContacts" aria-selected="false">My Contacts</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="AssignedContacts-tab" data-bs-toggle="tab" data-bs-target="#AssignedContacts" type="button" role="tab" aria-controls="AssignedContacts" aria-selected="false">Assigned</button>
            </li>
            }
        </ul>
    </div>
</header>

<partial name="_Tab-Content" />

@section Scripts{
    <script>
        $(function () {
            // Set the initial value of the h3 element to the default selected item
            var defaultText = $('#employeeDD .dropdown-menu a[data-value="Employee Access"]').text();
            $('#employeeDD .dropdown-toggle').text(defaultText);

            // Update the text of the h3 element when a dropdown item is selected
            $('#employeeDD .dropdown-menu a').click(function () {
                var selectedText = $(this).text();
                $('#employeeDD .dropdown-toggle').text(selectedText);
            });
        });
    </script>
}