
Note: Sample Data Only. Coded in the HTML, not in DB. This is the AllEmployees View
<br />
<br />
<table class="table table-bordered table-overflow-auto-w100">
    <thead class="header-bg-light text-uppercase">
        <tr>
            <th scope="col">Full Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Gender</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Contact Owner ID</th>
            <th scope="col">Date Assigned</th>
            <th scope="col">Contact Creator ID</th>
            <th scope="col">Create Date</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Dell</td>
            <td>Otto</td>
            <td></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td></td>
        </tr>
    </tbody>
</table>