@model CreateRoleViewModel

@{
    Layout = "~/Views/Customization/z_CustomizationLayout.cshtml";
}

<h1>Add Role</h1>

<form asp-controller="Role" asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger">
    </div>
    <div>
        <label asp-for="RoleName"></label>
        <input asp-for="RoleName" />
        <span asp-validation-for="RoleName"></span>
    </div>
  
    <button type="submit">Register</button>
</form>