@model IEnumerable<IdentityRole<Guid>>

@{
    Layout = "~/Views/Customization/z_CustomizationLayout.cshtml";
}


<div class="text-left">
    <h1 class="display-4">Roles</h1>
    @if (@Model != null && @Model.Any())
    {
        <a class="btn btn-primary mb-3" style="width:auto" asp-action="Create" 
        asp-controller="Role">Add Role</a>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Role</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var role in Model)
                {
                    <tr>
                        <td>@role.Name</td>
                        <td>
                            <a asp-controller="Role" asp-action="Edit" asp-route-id="@role.Id">Edit</a>
                        </td>
                        <td>
                            <a asp-controller="Role" asp-action="Delete" asp-route-id="@role.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

<div class="text-center">
</div>
