@model Appointments

<h1>New Appointment</h1>

<form asp-controller="Appointments" asp-action="Create" method="post">
    <div asp-validation-summary="All" class="text-danger">
    </div>
    <div>
        <label asp-for="Appointment_DateTime"></label>
        <input asp-for="Appointment_DateTime" />
        <span asp-validation-for="Appointment_DateTime"></span>
    </div>
    <div>
        <label asp-for="Description"></label>
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="SchedStatus" class="control-label"></label>
        <select asp-for="SchedStatus" class="form-control" asp-items="@Html.GetEnumSelectList<SchedStatus>()"></select>
    </div>
    <div class="form-group">
        <label asp-for="PurposeId" class="control-label"></label>
        <select asp-for="PurposeId" class="form-control" asp-items="ViewBag.PurposeId"></select>
    </div>
    <div>
        <label asp-for="ContactId" class="control-label"></label>
        <select asp-for="ContactId" class="form-control" asp-items="ViewBag.ContactId"></select>
    </div>

    <button type="submit">Create</button>
</form>
<div>
    <br /><a asp-action="Index" class="btn btn-dark">Back to Appointment List</a>
</div>

<form class="row g-3 needs-validation" novalidate>
  <div class="col-md-4">
    <label for="validationCustom01" class="form-label">First name</label>
    <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-4">
    <label for="validationCustom02" class="form-label">Last name</label>
    <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  
  <div class="col-md-6">
    <label for="validationCustom03" class="form-label">City</label>
    <input type="text" class="form-control" id="validationCustom03" required>
    <div class="invalid-feedback">
      Please provide a valid city.
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom04" class="form-label">State</label>
    <select class="form-select" id="validationCustom04" required>
      <option selected disabled value="">Choose...</option>
      <option>...</option>
    </select>
    <div class="invalid-feedback">
      Please select a valid state.
    </div>
  </div>
  <div class="col-md-3">
    <label for="validationCustom05" class="form-label">Zip</label>
    <input type="text" class="form-control" id="validationCustom05" required>
    <div class="invalid-feedback">
      Please provide a valid zip.
    </div>
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
      <label class="form-check-label" for="invalidCheck">
        Agree to terms and conditions
      </label>
      <div class="invalid-feedback">
        You must agree before submitting.
      </div>
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Submit form</button>
  </div>
</form>

<script>
    (function () {
        'use strict'

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation')

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
    })()
</script>
