@model Appointments

<div class="w3-container d-flex justify-content-center align-items-center">
    <div class="w3-container ">
        <form class="w3-container " asp-controller="Appointments" asp-action="Delete">
            <input type="hidden" asp-for="Appointment_Id" />
            <div class="card1 " style="max-width:600px">
                <div class="w3-container  w3-padding-16 ">
                    <h3 class="w3-center">Are you sure you want to delete this appointment record?</h3>
                    
                    <button type="submit" value="DELETE" class="btn btn-danger w3-right">DELETE</button>
                    <button asp-action="index" class="btn btn-secondary">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>

