@model Appointments

@{
    ViewData["Title"] = "Edit";
}

<h1><b>Edit Employee Record</b></h1>

<h4>Update the respected field/s</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Appointments" asp-action="Edit" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Appointment_Id"/>
            <input type="hidden" asp-for="CreatedBy"/>
            <input type="hidden" asp-for="CreatedDate" />
            <div>
                <label asp-for="Appointment_DateTime"></label>
                <input asp-for="Appointment_DateTime" />
                <span asp-validation-for="Appointment_DateTime"></span>
            </div>
            <div>
                <label asp-for="Description"></label>
                <input asp-for="Description" />
                <span asp-validation-for="Description"></span>
            </div>
            <div class="form-group">
                <label asp-for="SchedStatus" class="control-label"></label>
                <select asp-for="SchedStatus" class="form-control" asp-items="@Html.GetEnumSelectList<SchedStatus>()"></select>
            </div>
            <div class="form-group">
                <label asp-for="PurposeId" class="control-label"></label>
                <select asp-for="PurposeId" class="form-control" asp-items="ViewBag.PurposeId"></select>
            </div>
            <div>
                <label asp-for="ContactId" class="control-label"></label>
                <select asp-for="ContactId" class="form-control" asp-items="ViewBag.ContactId"></select>
            </div> 
            <button type="submit">Edit</button>
        </form>
    </div>
    
    <div>
        <br /><a asp-action="Index" class="btn btn-dark">Back to Appointment List</a>
    </div>
</div>


