@model CRMS.Models.Customization.LeadStatus

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Customization/z_CustomizationLayout.cshtml";
}
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mt-2">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Leads</li>
        <li class="breadcrumb-item">Status</li>
        <li class="breadcrumb-item active" aria-current="page">Create</li>
    </ol>
</nav>

<h3>Create </h3>
<hr />
<div class="row">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <span asp-validation-for="LeadStatusName" class="text-danger"></span>
        <div class="d-flex form-group justify-content-between ">
                <label asp-for="LeadStatusName" class="control-label flex-fill"></label>
                <input asp-for="LeadStatusName" class="form-control flex-fill" />
                <input type="submit" value="Save" class="btn w3-green w3-hover-black mx-5">
            </div>
         
        </form>
    
</div>

<div>
    <br/>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts1 {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
