@model CRMS.Models.Customization.Effectivity

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Customization/z_CustomizationLayout.cshtml";
}


<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" class="mt-2">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Engagement</li>
        <li class="breadcrumb-item">Effectivity</li>
        <li class="breadcrumb-item active" aria-current="page">Update</li>
    </ol>
</nav>

<h3>Modify</h3>
<hr />
<div class="row">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Effectivity_Id" />
        <span asp-validation-for="Effectivity_Name" class="text-danger"></span>
        <div class="d-flex form-group justify-content-between ">
            <label asp-for="Effectivity_Name" class="control-label flex-fill"></label>
            <input asp-for="Effectivity_Name" class="form-control flex-fill" required/>
            <input type="submit" value="Save" class="btn w3-green w3-hover-black mx-5">
        </div>
    </form>
</div>

<div>
    <br />
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts1 {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
