@model IEnumerable<CRMS.Models.Customization.Effectivity>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Customization/z_CustomizationLayout.cshtml";
}


<div class="mt-3">
    <h2 style="font-weight: bold; font-family: Poppins; color:#002756">Effectivity</h2>
    <hr />
    <p style="color: gray">Customization > Effectivity</p>
    <br />
    @*<p></a>int Count</p>*@
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a button class="btn w3-highway-blue me-md-2" type="button" asp-action="Create">+ New Effectivity</a>
    </div>
    <br />
</div>

<div style=" border: 2px solid lightgray;
    border-radius: 20px; padding: 35px;">
    <table id="table" class="table"
           data-toggle="table"
           data-search="true"
           data-search-align="left"
           data-filter-control="true"
           data-buttons-class="primary"
           data-buttons-align="left"
           data-toolbar="#toolbar"
    @*For which column show*@
           data-show-columns="true"
           data-minimum-count-columns="2"
    @*pagination function*@
           data-pagination="true"
           data-show-pagination-switch="true"
           data-page-list="[10, 25, 50, 100, all]">

        <thead>
            <tr>
                <th data-field="column1" data-halign="center" data-align="center" data-sortable="true">Effectivity</th>

                <th data-field="column8" data-width="150px" data-halign="center" data-align="center" data-sortable="true">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Effectivity_Name)
                    </td>

                    <td>
                        <div class="d-grid gap-2">
                            <a type="button" class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Effectivity_Id">Edit</a>
                            <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Effectivity_Id">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>