@*@model IEnumerable<IndexUserViewModel>*@

    <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="AllEmployees" role="tabpanel" aria-labelledby="AllEmployees-tab">


    </div>

       


    <div class="tab-pane fade" id="WithAccess" role="tabpanel" aria-labelledby="WithAccess-tab">
    
    </div>

    <div class="tab-pane fade" id="WithoutAccess" role="tabpanel" aria-labelledby="WithoutAccess-tab">
       
    </div>
</div>