@model LoginUserViewModel



@*<div class="w3-container w3-center w3-card">
    <h1>Login</h1>
    <form asp-controller="User" asp-action="Login" method="post">
        <div class="w3-section ">
            <div class="form-group">
                <div asp-validation-summary="All" class="text-danger" >
                </div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName"></span>
                </div>
    
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <label asp-for="RememberMe"></label>
                    <input asp-for="RememberMe"/>
                </div>
                <button type="submit">Login</button>
            </div>
        </div>
    </form>

</div>*@


<div class="w3-container w3-cards  ">
    <h1 class="w3-center">Login</h1>
    <form class="w3-container" asp-controller="User" asp-action="Login" method="post">
    <div class="w3-section">
            <label asp-for="UserName"><b>Username</b></label>
            <input asp-for="UserName"  class="w3-input w3-border w3-margin-bottom" type="text" placeholder="Enter Username" required>
            <span asp-validation-for="UserName"></span>
            <label asp-for="Password" ><b>Password</b></label>
            <input asp-for="Password"  class="w3-input w3-border" type="password" placeholder="Enter Password" required>
            <input asp-for="RememberMe" class="w3-check w3-margin-top" type="checkbox" checked="checked"> Remember me
        <button class="w3-button w3-block w3-blue w3-section w3-padding" type="submit">Login</button>
        
    </div>
    </form>

</div>


