<ul class="navbar-nav">
    @*<li class="nav-item">
        <a class="nav-link navbar-logo align-middle" >
            <img  src="~/img/Bell1.svg" alt="Notifications" height="30" />
        </a>
    </li>*@
    <div class="vertical-line"></div>
    <li class="nav-item">
        <a class="nav-link navbar-logo align-middle dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false" id="Account">
            <img src="~/img/user_m.svg" alt="Account" height="40" />
        </a>
    </li>


    <li class="nav-item">
        <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
</ul>